@model List<BasketItem>


<!-- Begin Main Content Area -->
<main class="main-content">


    <partial name="_TitlePartialView" model='"Basket"'></partial>

    <div class="cart-area section-space-y-axis-100">
        <div class="container">
            <div class="row basketArea">
                <partial name="_BasketPartialView" model="Model"></partial>

            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->


<script>

    async function RenderBasketAsync(){
        const increaseBtns = document.querySelectorAll(".increaseBtn")
        const decreaseBtns = document.querySelectorAll(".decreaseBtn")
        const basketArea = document.querySelector(".basketArea")

        increaseBtns.forEach(btn=>{
            btn.addEventListener("click", async (e)=>{
                let productId = btn.getAttribute("data-productId")

                var response = await fetch(`/Basket/IncreaseBasketItemCount?productId=${productId}`)

                 var data = await response.text();

                basketArea.innerHTML = data;

                await RenderBasketAsync();

            })
        })

        decreaseBtns.forEach(btn=>{
            btn.addEventListener("click", async (e)=>{

                let productId = btn.getAttribute("data-productId")

                var response = await fetch(`/Basket/DecreaseBasketItemCount?productId=${productId}`)

                var data = await response.text();

                basketArea.innerHTML = data;

                await RenderBasketAsync();


            })
        })


    }

    RenderBasketAsync();

</script>